.cedict-hover-box {
    position: absolute;
    z-index: 0 !important;
    background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.3);
    pointer-events: none;
    border-radius: 3px;
    transition: all 0.05s ease;
}
.cedict-line-hover {
    background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.3);
    transition: background-color 0.3s ease;
}
.cm-line {
    transition: all 0.5s ease;
}
.cedict-tooltip {
    position: absolute;
    padding: 10px 14px;
    background: var(--background-primary-alt);
    color: var(--text-normal);
    border: 2px solid var(--background-modifier-border);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    white-space: pre-line;
    z-index: 10000;
    pointer-events: none;
    display: none;
    max-width: 500px;
}
.cedict-word-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.cedict-entry:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--background-modifier-border);
}

.cedict-headword {
}
.cedict-headword-characters {
    font-size: 175%;
    display: flex;
    gap: 8px;
}
.cedict-headword-traditional {
    color: var(--text-muted);
}
.cedict-headword-pronunciation {
    margin-top: -1px;
    display: flex;
    gap: 8px;
}
.cedict-headword-pinyin {
}
.cedict-headword-bopomofo {
}
.cedict-definition {
    margin-top: 4px;
    font-size: 90%;
    line-height: 1.4;
}


.hsk-highlight {
    padding: 0;
    display: inline;
    margin: 0;
}
  
.hsk-level-1 { 
    /* background-color: rgba(135, 206, 250, 0.3);  */
    font-weight: 700;
    color: #f7b51e;
} 
.hsk-level-2 { 
    /* background-color: rgba(144, 238, 144, 0.3);  */
    font-weight: 700;
    color: #237e95;
}
.hsk-level-3 { 
    /* background-color: rgba(255, 255, 102, 0.3); */
    font-weight: 700;
    color: #ff7149;
 }
.hsk-level-4 { 
    /* background-color: rgba(255, 165, 0, 0.3);  */
    font-weight: 700;
    color: #bb1617;
}
.hsk-level-5 { 
    /* background-color: rgba(255, 99, 71, 0.3);  */
    font-weight: 700;
    color: #1257c7;
} 
.hsk-level-6 { 
    /* background-color: rgba(186, 85, 211, 0.3);  */
    font-weight: 700;
    color: #c742c4;
}

.cedict-tone-1 {
    color: color-mix(in srgb, var(--color-red) 85%, black);
}
.cedict-tone-2 {
    color: color-mix(in srgb, var(--color-yellow) 85%, black);
}
.cedict-tone-3 {
    color: color-mix(in srgb, var(--color-green) 85%, black);
}
.cedict-tone-4 {
    color: color-mix(in srgb, var(--color-blue) 85%, black);
}
.cedict-tone-5 {
    color: var(--color-base-60);
}


.zh-hidden {
	display: none;
}
.zh-visible {
	display: block;
}